USE [MCS]
GO
/****** Object:  Table [dbo].[newEquipment]    Script Date: 2/15/2018 11:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newEquipment](
	[intEquipmentID] [int] IDENTITY(1,1) NOT NULL,
	[intGarageRoom] [nvarchar](50) NULL,
	[intManufacturerID] [int] NOT NULL,
	[intModelID] [int] NOT NULL,
	[strManufYear] [nvarchar](4) NULL,
	[intSNPrefixID] [int] NOT NULL,
	[strSerialNo] [nvarchar](20) NULL,
	[intEquipmentTypeID] [int] NOT NULL,
	[intSMCSFamilyID] [int] NOT NULL,
	[intSizeID] [int] NOT NULL,
	[CreateDate] [date] NULL,
	[intMetered] [float] NOT NULL,
	[LastDate] [date] NOT NULL,
	[intLastMetered] [float] NOT NULL,
	[intTotalMetered] [float] NOT NULL,
	[intlimitDay] [int] NULL,
	[intlimitWeek] [int] NULL,
	[bitActive] [bit] NOT NULL,
	[bitPreservation] [bit] NOT NULL,
	[bitMeter] [bit] NOT NULL,
	[bitKTG] [bit] NOT NULL,
	[isDelete] [bit] NOT NULL CONSTRAINT [DF_newEquipment_isDelete]  DEFAULT ((0)),
	[intLocationId] [int] NOT NULL,
	[strDescription] [nvarchar](1050) NULL,
	[floatCostTires] [float] NULL,
	[intCostTiresCurrency] [int] NULL,
	[floatAverageDivergence] [float] NULL,
	[floatFullPrice] [float] NULL,
	[intFullPriceCurrency] [int] NULL,
	[dateStartUpDate] [date] NULL,
	[intServiceLife] [int] NULL,
	[intHoweverOddsAcceleration] [int] NULL,
	[bitMethodAmortization] [bit] NOT NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[intEquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TableEvaluationPriority]    Script Date: 2/15/2018 11:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableEvaluationPriority](
	[intPriorityId] [int] IDENTITY(1,1) NOT NULL,
	[strPriorityName] [nvarchar](250) NULL,
	[intLocationId] [int] NULL,
 CONSTRAINT [PK_TableEvaluationPriority] PRIMARY KEY CLUSTERED 
(
	[intPriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TableEvaluationSysStatus]    Script Date: 2/15/2018 11:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableEvaluationSysStatus](
	[intEvaluationSysStatusId] [int] IDENTITY(1,1) NOT NULL,
	[strStatysName] [nvarchar](250) NULL,
 CONSTRAINT [PK_TableEvaluationSysStatus] PRIMARY KEY CLUSTERED 
(
	[intEvaluationSysStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TableExchangeRate]    Script Date: 2/15/2018 11:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableExchangeRate](
	[intExchangeRateId] [int] IDENTITY(1,1) NOT NULL,
	[intCurrencyId] [int] NULL,
	[fRate] [float] NULL,
	[dDateRate] [date] NULL,
 CONSTRAINT [PK_TableExchangeEate] PRIMARY KEY CLUSTERED 
(
	[intExchangeRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TablesCurrency]    Script Date: 2/15/2018 11:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablesCurrency](
	[intCurrencyId] [int] IDENTITY(1,1) NOT NULL,
	[strCurrencyName] [nvarchar](50) NULL,
 CONSTRAINT [PK_TablesCurrency] PRIMARY KEY CLUSTERED 
(
	[intCurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TablesModel]    Script Date: 2/15/2018 11:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablesModel](
	[intModelID] [int] IDENTITY(1,1) NOT NULL,
	[strName] [nvarchar](10) NULL,
	[intManufacturerID] [int] NULL,
	[intSMCSFamilyID] [int] NULL,
	[strImage] [nvarchar](250) NULL,
 CONSTRAINT [PK_newTablesModel] PRIMARY KEY CLUSTERED 
(
	[intModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrackEvaluation]    Script Date: 2/15/2018 11:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackEvaluation](
	[intEvalutionId] [int] IDENTITY(1,1) NOT NULL,
	[intEvalutionNumber] [int] NULL,
	[dCreateDate] [date] NULL CONSTRAINT [DF_TrackEvaluation_dCreateDate]  DEFAULT (getdate()),
	[intCreateUserId] [int] NULL,
	[dCreateDateBL] [date] NULL,
	[intCreateUserIdBL] [int] NULL,
	[CustomerRequestNumber] [nvarchar](1024) NULL,
	[intTypeOfInspection] [int] NULL,
	[intSMCSComponentID] [int] NULL,
	[intMachineSystem] [int] NULL,
	[intStatysId] [int] NULL,
	[dSendDateCustomer] [date] NULL,
	[dReceiveDateCustomer] [date] NULL,
	[strOrderNo] [nvarchar](255) NULL,
	[strSalesOrderNumber] [nvarchar](255) NULL,
	[dDateOfSale] [date] NULL,
	[dEstimatedDateArrival] [date] NULL,
	[dArrivalDate] [date] NULL,
	[intEquipmentID] [int] NULL,
	[intMetered] [float] NULL,
	[strDescriptionDefect] [nvarchar](1024) NULL,
	[strReasonDefect] [nvarchar](1024) NULL,
	[strRemedyDefect] [nvarchar](1024) NULL,
	[strSymptoms] [nvarchar](1024) NULL,
	[intPriority] [int] NULL,
	[floatETTR] [float] NULL,
	[floatELTR] [float] NULL,
	[intConfirmUserId] [int] NULL,
	[dConfirmDate] [date] NULL,
	[intConfirmStatus] [bit] NULL,
	[intStatus] [int] NULL,
	[intLocationId] [int] NULL,
	[intServiceHistoryId] [int] NULL,
	[intEvaluationSysStatusId] [int] NULL,
 CONSTRAINT [PK_Evaluation] PRIMARY KEY CLUSTERED 
(
	[intEvalutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrackEvaluationPart]    Script Date: 2/15/2018 11:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackEvaluationPart](
	[intEvaluationPartId] [int] IDENTITY(1,1) NOT NULL,
	[intEvalutionId] [int] NULL,
	[intMasterPartId] [int] NOT NULL,
	[floatQuantity] [float] NULL,
	[floatUnitCostTrack] [float] NULL,
	[floatUnitCostAvia] [float] NULL,
	[strAvailability] [nvarchar](50) NULL,
	[strDescription] [nvarchar](2500) NULL,
	[intPartStatus] [int] NULL,
	[intSimsId] [int] NULL,
 CONSTRAINT [PK_TrackEvaluationPart] PRIMARY KEY CLUSTERED 
(
	[intEvaluationPartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[newEquipment] ON 

GO
SET IDENTITY_INSERT [dbo].[newEquipment] OFF
SET IDENTITY_INSERT [dbo].[TableEvaluationPriority] ON 

INSERT [dbo].[TableEvaluationPriority] ([intPriorityId], [strPriorityName], [intLocationId]) VALUES (1, N'Срочный', 3)
INSERT [dbo].[TableEvaluationPriority] ([intPriorityId], [strPriorityName], [intLocationId]) VALUES (2, N'Срочно', 8)
INSERT [dbo].[TableEvaluationPriority] ([intPriorityId], [strPriorityName], [intLocationId]) VALUES (3, N'Следующее ТО', 8)
SET IDENTITY_INSERT [dbo].[TableEvaluationPriority] OFF
SET IDENTITY_INSERT [dbo].[TableEvaluationSysStatus] ON 

INSERT [dbo].[TableEvaluationSysStatus] ([intEvaluationSysStatusId], [strStatysName]) VALUES (1, N'Создана Инспектором')
INSERT [dbo].[TableEvaluationSysStatus] ([intEvaluationSysStatusId], [strStatysName]) VALUES (2, N'Согласование НГМ')
INSERT [dbo].[TableEvaluationSysStatus] ([intEvaluationSysStatusId], [strStatysName]) VALUES (3, N'Доработка')
SET IDENTITY_INSERT [dbo].[TableEvaluationSysStatus] OFF
SET IDENTITY_INSERT [dbo].[TableExchangeRate] ON 

INSERT [dbo].[TableExchangeRate] ([intExchangeRateId], [intCurrencyId], [fRate], [dDateRate]) VALUES (1, 1, 5.21, CAST(N'2016-08-31' AS Date))
INSERT [dbo].[TableExchangeRate] ([intExchangeRateId], [intCurrencyId], [fRate], [dDateRate]) VALUES (2, 2, 379.01, CAST(N'2016-08-31' AS Date))
INSERT [dbo].[TableExchangeRate] ([intExchangeRateId], [intCurrencyId], [fRate], [dDateRate]) VALUES (3, 3, 338.98, CAST(N'2016-08-31' AS Date))
GO
SET IDENTITY_INSERT [dbo].[TableExchangeRate] OFF
SET IDENTITY_INSERT [dbo].[TablesCurrency] ON 

INSERT [dbo].[TablesCurrency] ([intCurrencyId], [strCurrencyName]) VALUES (1, N'RUR')
INSERT [dbo].[TablesCurrency] ([intCurrencyId], [strCurrencyName]) VALUES (2, N'EUR')
INSERT [dbo].[TablesCurrency] ([intCurrencyId], [strCurrencyName]) VALUES (3, N'USD')
SET IDENTITY_INSERT [dbo].[TablesCurrency] OFF
SET IDENTITY_INSERT [dbo].[TablesModel] ON 

INSERT [dbo].[TablesModel] ([intModelID], [strName], [intManufacturerID], [intSMCSFamilyID], [strImage]) VALUES (1, N'12H', 1, 16, N'19.png')
INSERT [dbo].[TablesModel] ([intModelID], [strName], [intManufacturerID], [intSMCSFamilyID], [strImage]) VALUES (2, N'16H', 1, 16, N'18.png')
INSERT [dbo].[TablesModel] ([intModelID], [strName], [intManufacturerID], [intSMCSFamilyID], [strImage]) VALUES (3, N'16M', 1, 16, N'13.png')
GO
SET IDENTITY_INSERT [dbo].[TablesModel] OFF
SET IDENTITY_INSERT [dbo].[TrackEvaluation] ON 

SET IDENTITY_INSERT [dbo].[TrackEvaluation] OFF
SET IDENTITY_INSERT [dbo].[TrackEvaluationPart] ON 

INSERT [dbo].[TrackEvaluationPart] ([intEvaluationPartId], [intEvalutionId], [intMasterPartId], [floatQuantity], [floatUnitCostTrack], [floatUnitCostAvia], [strAvailability], [strDescription], [intPartStatus], [intSimsId]) VALUES (1, 7, 1387, 1, 58, 35.73, NULL, N'', NULL, NULL)
INSERT [dbo].[TrackEvaluationPart] ([intEvaluationPartId], [intEvalutionId], [intMasterPartId], [floatQuantity], [floatUnitCostTrack], [floatUnitCostAvia], [strAvailability], [strDescription], [intPartStatus], [intSimsId]) VALUES (2, 7, 1387, 1, 58, 35.73, NULL, N'', NULL, NULL)
INSERT [dbo].[TrackEvaluationPart] ([intEvaluationPartId], [intEvalutionId], [intMasterPartId], [floatQuantity], [floatUnitCostTrack], [floatUnitCostAvia], [strAvailability], [strDescription], [intPartStatus], [intSimsId]) VALUES (3, 11, 1387, 1, 35.73, 58, NULL, N'', 1, 1)
SET IDENTITY_INSERT [dbo].[TrackEvaluationPart] OFF
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesEquipmentType] FOREIGN KEY([intEquipmentTypeID])
REFERENCES [dbo].[TablesEquipmentType] ([intEquipmentTypeId])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesEquipmentType]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesFamilyType] FOREIGN KEY([intSMCSFamilyID])
REFERENCES [dbo].[TablesFamilyType] ([intFamilyTypeId])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesFamilyType]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesLocation] FOREIGN KEY([intLocationId])
REFERENCES [dbo].[TablesLocation] ([intLocationId])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesLocation]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesManufacturer] FOREIGN KEY([intManufacturerID])
REFERENCES [dbo].[TablesManufacturer] ([intManufacturerID])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesManufacturer]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesModel] FOREIGN KEY([intModelID])
REFERENCES [dbo].[TablesModel] ([intModelID])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesModel]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesSize] FOREIGN KEY([intSizeID])
REFERENCES [dbo].[TablesSize] ([intSizeID])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesSize]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesSNPrefix] FOREIGN KEY([intSNPrefixID])
REFERENCES [dbo].[TablesSNPrefix] ([intSNPrefixID])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesSNPrefix]
GO
ALTER TABLE [dbo].[TableEvaluationPriority]  WITH CHECK ADD  CONSTRAINT [FK_TableEvaluationPriority_TablesLocation] FOREIGN KEY([intLocationId])
REFERENCES [dbo].[TablesLocation] ([intLocationId])
GO
ALTER TABLE [dbo].[TableEvaluationPriority] CHECK CONSTRAINT [FK_TableEvaluationPriority_TablesLocation]
GO
ALTER TABLE [dbo].[TableExchangeRate]  WITH CHECK ADD  CONSTRAINT [FK_TableExchangeRate_TablesCurrency] FOREIGN KEY([intCurrencyId])
REFERENCES [dbo].[TablesCurrency] ([intCurrencyId])
GO
ALTER TABLE [dbo].[TableExchangeRate] CHECK CONSTRAINT [FK_TableExchangeRate_TablesCurrency]
GO
ALTER TABLE [dbo].[TablesModel]  WITH CHECK ADD  CONSTRAINT [FK_newTablesModel_newTablesModel] FOREIGN KEY([intManufacturerID])
REFERENCES [dbo].[TablesManufacturer] ([intManufacturerID])
GO
ALTER TABLE [dbo].[TablesModel] CHECK CONSTRAINT [FK_newTablesModel_newTablesModel]
GO
ALTER TABLE [dbo].[TablesModel]  WITH CHECK ADD  CONSTRAINT [FK_TablesModel_TablesSMCSFamily] FOREIGN KEY([intSMCSFamilyID])
REFERENCES [dbo].[TablesSMCSFamily] ([intSMCSFamilyID])
GO
ALTER TABLE [dbo].[TablesModel] CHECK CONSTRAINT [FK_TablesModel_TablesSMCSFamily]
GO
ALTER TABLE [dbo].[TrackEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_Evaluation_newEquipment] FOREIGN KEY([intEquipmentID])
REFERENCES [dbo].[newEquipment] ([intEquipmentID])
GO
ALTER TABLE [dbo].[TrackEvaluation] CHECK CONSTRAINT [FK_Evaluation_newEquipment]
GO
ALTER TABLE [dbo].[TrackEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_Evaluation_TablesSMCSComponent] FOREIGN KEY([intSMCSComponentID])
REFERENCES [dbo].[TablesSMCSComponent] ([intSMCSComponentID])
GO
ALTER TABLE [dbo].[TrackEvaluation] CHECK CONSTRAINT [FK_Evaluation_TablesSMCSComponent]
GO
ALTER TABLE [dbo].[TrackEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_TrackEvaluation_TableEvaluationPriority] FOREIGN KEY([intPriority])
REFERENCES [dbo].[TableEvaluationPriority] ([intPriorityId])
GO
ALTER TABLE [dbo].[TrackEvaluation] CHECK CONSTRAINT [FK_TrackEvaluation_TableEvaluationPriority]
GO
ALTER TABLE [dbo].[TrackEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_TrackEvaluation_TableEvaluationSysStatus] FOREIGN KEY([intEvaluationSysStatusId])
REFERENCES [dbo].[TableEvaluationSysStatus] ([intEvaluationSysStatusId])
GO
ALTER TABLE [dbo].[TrackEvaluation] CHECK CONSTRAINT [FK_TrackEvaluation_TableEvaluationSysStatus]
GO
ALTER TABLE [dbo].[TrackEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_TrackEvaluation_TablesEvalutionStatys] FOREIGN KEY([intStatysId])
REFERENCES [dbo].[TableEvaluationStatys] ([intStatysId])
GO
ALTER TABLE [dbo].[TrackEvaluation] CHECK CONSTRAINT [FK_TrackEvaluation_TablesEvalutionStatys]
GO
ALTER TABLE [dbo].[TrackEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_TrackEvaluation_TablesLocation] FOREIGN KEY([intLocationId])
REFERENCES [dbo].[TablesLocation] ([intLocationId])
GO
ALTER TABLE [dbo].[TrackEvaluation] CHECK CONSTRAINT [FK_TrackEvaluation_TablesLocation]
GO
ALTER TABLE [dbo].[TrackEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_TrackEvaluation_TablesMachineSystem] FOREIGN KEY([intMachineSystem])
REFERENCES [dbo].[TablesMachineSystem] ([intMachineSystem])
GO
ALTER TABLE [dbo].[TrackEvaluation] CHECK CONSTRAINT [FK_TrackEvaluation_TablesMachineSystem]
GO
ALTER TABLE [dbo].[TrackEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_TrackEvaluation_TablesTypesInspection] FOREIGN KEY([intTypeOfInspection])
REFERENCES [dbo].[TablesTypesInspection] ([intTypeOfInspection])
GO
ALTER TABLE [dbo].[TrackEvaluation] CHECK CONSTRAINT [FK_TrackEvaluation_TablesTypesInspection]
GO
ALTER TABLE [dbo].[TrackEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_TrackEvaluation_User] FOREIGN KEY([intCreateUserIdBL])
REFERENCES [dbo].[User] ([intUserId])
GO
ALTER TABLE [dbo].[TrackEvaluation] CHECK CONSTRAINT [FK_TrackEvaluation_User]
GO
ALTER TABLE [dbo].[TrackEvaluationPart]  WITH CHECK ADD  CONSTRAINT [FK_TrackEvaluationPart_TablesMasterPart] FOREIGN KEY([intMasterPartId])
REFERENCES [dbo].[TablesMasterPart] ([intMasterPartId])
GO
ALTER TABLE [dbo].[TrackEvaluationPart] CHECK CONSTRAINT [FK_TrackEvaluationPart_TablesMasterPart]
GO
ALTER TABLE [dbo].[TrackEvaluationPart]  WITH CHECK ADD  CONSTRAINT [FK_TrackEvaluationPart_TrackEvaluation] FOREIGN KEY([intEvalutionId])
REFERENCES [dbo].[TrackEvaluation] ([intEvalutionId])
GO
ALTER TABLE [dbo].[TrackEvaluationPart] CHECK CONSTRAINT [FK_TrackEvaluationPart_TrackEvaluation]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Проект' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intEquipmentID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Гаражный номер' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intGarageRoom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Производитель' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intManufacturerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Модель / TablesModel' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intModelID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Год выпуска' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'strManufYear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Префикс' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intSNPrefixID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Серийный номер' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'strSerialNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Группа / TablesEquipmentType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intEquipmentTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Тип машины / TablesSMCSFamily' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intSMCSFamilyID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Размер / TablesSize' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intSizeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дата занесения' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Моточасы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intMetered'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дата последнего занесения' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'LastDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Последние Моточасы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intLastMetered'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Общая наработка мото-часов' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intTotalMetered'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'В день' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intlimitDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'В неделю' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intlimitWeek'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Актиная машина' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'bitActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Машина на консервации' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'bitPreservation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Моточасы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'bitMeter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'КТГ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'bitKTG'
GO
